@import url("font.css");


:root{
    --yekan: "yekan";
    --primary-color: rgb(24, 7, 119);
    --box-shadow: 0px 10px 30px rgba(27, 25, 145, 0.5);
}

*{
    direction: rtl;
    /* box-sizing: border-box; */
    font-family:  var(--yekan);

}

/*  */

.titles{ 
    text-align: center;
    margin:2rem 0;
    color: var(--primary-color);
    font: normal bolder 50px var(--yekan);
    /* padding-bottom: 1rem; */
}

.btn{
    color: white;
    background-color: rgb(76, 65, 180);
    padding: 0.5rem 5rem;
    border: none;;
}

.btn:hover{
    background-color: white;
    border: var(--primary-color);
    color: var(--primary-color);
}

/*  */


/* header navbar */

.header_area{
    font: normal 600 17px/30px var(--yekan);
    background-color: rgb(228, 238, 255);
    padding: 0.5rem;
}

/* section 1 - SUBSCRIE */

.sub_area{
    
    padding: 1rem;
    text-align: center;
}

.input-textbox input{
    padding: 0.5rem 0.5rem 0.5rem 5rem;
    border-radius: 5px;
    border: 2px solid navy;
    margin-bottom: 1rem;
}




/* section 2 - ABOUT US */


.about_area{
    padding: 5rem 2rem;

}


.about_area .about{
    padding: 2rem 0;
    margin: 1rem;

}

.about_area .about:hover{
    box-shadow: var(--box-shadow);
    transition: box-shadow .4s ease;
}

/* section 3 - PRODUCTS */

.products-area{
    padding: 0rem 0 1rem 0;
}

/* section 4 - DETAILS */

.detail-info p{
    padding: 2rem 1rem 0 0;
    font: normal 500 18px/35px var(--yekan);
    word-spacing: 3px;
    /* line-height: 1.7rem; */
}

/* section 5 - CALL */

.call_area{
    text-align: center;
}

/* .call{
    padding: 3rem;
    background: url("../images/bg-Img.jpg");
    opacity: 10%;
    background-size: cover;
} */



.call { 
    position: relative; 
    height: 100%;
    padding: 3rem 0 ;
    /* width: 100%; */
    /* padding: 1rem; */
    background-image: url("../images/bg-Img.jpg");
    background-size: cover;
}

.call::before {
    /* z-index: -1; */
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(51, 48, 48, 0.726);
}

.call-content{
    position: relative;
    color: #ffffff;  
    font-weight: bold;

}

.call_area label{
    display: block;
    margin-bottom: 0.5rem;
}

/* FOOTER */
.footer_area{
    margin-top: 4rem;
    background-color: rgb(228, 238, 255);

}
